.classpath
.project
.settings
bin
gen
.gradle/
.idea/
build/
build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
local.properties
settings.gradle
.gitignore
app.iml
libs/
proguard-rules.pro
src/
